canvas {
border : 5px solid green;
border-radius: 50%;
background-color: black;
cursor: none;
/*display: none; */
}
body {
overflow: hidden;
background-color: black;
}
.canvas-container {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
}

#timer {
  color: white;
  font-size: 30px;
  top: 40px;
  right: 40px;
  position: absolute;
  margin-right: 30px;
}
 #opening-screen {
   z-index: 1;
   height: 100%;
   background-color: black;
   position: absolute;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-content: center;

 }

 #spinning-star {
   height: 100px;
   width: 100px;

 }
 #spinning-star2 {
   height: 100px;
   width: 100px;
   /*margin-left: 30px;
   margin-right: 30px;*/
 }

.game-name-opener {
  color: yellow;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Press Start 2P';
  margin-top: -60px;
  align-self: center;
  /*display: flex;
  justify-content: space-between;*/
}

.title {
  display: flex;
}

#spinner-text {
  margin-left: 40px;
}

.creator {

  font-size: 30px;
  text-align: right;
  margin-top: -40px;
  margin-bottom: 30px;
  color: white;
}

.contact {
  color: white;
}
.intro-content {
  display: flex;
  justify-content: space-between;
}
.instructions {
  color: white;
  align-self: left;
  font-size: 15px;
  font-family: "Press Start 2P";
  text-align: left;
  line-height: 40px;
  width: 600px;
  background-color: black;
  margin-left: 10%;
  border-radius: 10px;
  border: 5px solid white;
}

.instruc {
  font-size: 20px;
}

.holding-spacebar {
  list-style-type: none;
  vertical-align: middle;
  margin-top: 110px;
  margin-right: 150px;
}

.spacebar {
  font-size: 25px;
  align-self: right;
  color: black;
  font-family: 'Press Start 2P';
  background-color: red;
  border-radius: 10px;
  padding: 15px;
  line-height: 30px;
}

.corey-contact {
  width: 100%;
  font-size: 45px;
  color: white;
  align-self: right;
  text-align: right;
  /*text-align: right;*/
  display: flex;
  justify-content: flex-end;
}
.link-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  align-self: right;
  /*border: 1px solid yellow;*/
  text-align: right;
  justify-content: flex-end;
}

.link-list li {
  margin-right: 30px;
  color: white;
}

.githublink {
  color: white;
}

.linked-in-link {
  color: white;

}

.linked-in-open {
  color: white;
  font-size: 25px;
}


/*You win*/

#you-win-screen {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  color: white;
  font-family: "Press Start 2P";
  font-size: 30px;
  text-align: center;
  opacity: .99  ;
}

.you-win-text {
  color: white;
  font-size: 60px;
  font-family: 'Press Start 2P';

}

.press-reset {

}


/*Game Over*/

#gameOverScreen {
  z-index: 1;
  height: 100%;
  background-color: black;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  color: white;
  font-family: "Press Start 2P";
  font-size: 30px;
  text-align: center;
  opacity: .95;

}

.game-over-text {
  color: red;
  animation-duration: 3s;
  animation-name: slidein:

}




























/*whitespact*/
