canvas {
border : 5px solid green;
border-radius: 50%;
background-color: black;
cursor: none;
/*display: none; */
}
body {
overflow: hidden;
background-color: black;
}
.canvas-container {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
}

#timer {
  color: white;
  font-size: 30px;
  top: 40px;
  right: 40px;
  position: absolute;
  margin-right: 30px; 
}
 #opening-screen {
   z-index: 1;
   height: 100%;
   background-color: black;
   position: absolute;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-content: center;

 }

 #spinning-star {
   height: 100px;
   width: 100px;

 }
 #spinning-star2 {
   height: 100px;
   width: 100px;
   /*margin-left: 30px;
   margin-right: 30px;*/
 }

.game-name-opener {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Press Start 2P';
  margin-top: 40px;
  align-self: center;
}

.instructions {
  color: white;
  align-self: center;
  font-size: 20px;
  font-family: "Press Start 2P";
  text-align: center;
  line-height: 50px;
  width: 80%;
}

.spacebar {
  font-size: 30px;
  align-self: center;
  color: white;
  font-family: 'Press Start 2P';
}

.corey-contact {
  font-size: 25px;
  color: white;
  align-self: center;
  /*text-align: right;*/
}

.linked-in-link {
  color: white;
  font-size: 15px;
  font-family: 'Press Start 2P';
}

.linked-in-open {
  color: white;
  font-size: 25px;
}


/*Game Over*/

#gameOverScreen {
  z-index: 1;
  height: 100%;
  background-color: black;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  color: white;
  font-family: "Press Start 2P";
  font-size: 30px;
  text-align: center;
  opacity: .95;

}

.game-over-text {
  color: red;
  animation-duration: 3s;
  animation-name: slidein:






























/*whitespact*/
